entrypoint = "index.js"
modules = ["postgresql-16", "nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = "npm run dev"
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true
integrations = ["javascript_object_storage:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 46059
externalPort = 3000

[objectStorage]
defaultBucketID = "replit-objstore-ce5d5edc-1bae-43a7-8949-4f36f7b5b0dd"
